#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.ipch
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
*/.nuget
*/ipch/
*.sdf
*.opensdf
# Nimble Tools build script
CreateBuild.*